.card-container {
  display: flex;
}
.card-container div {
  width: 200px;
  height: 300px;
  background-color: bisque;
  margin: 2px;
}

.genre__section {
  border: solid 5px blue;
  margin: 5px;
}
.section__row {
  display: flex;
  overflow: scroll;
}

.section__card {
  margin: 2px;
  border: solid;
}

/* Ana's working css */
.search--result-card {
  margin: 5px;
  border: 5px solid blue;
}
.search--title__row {
  display: flex;
}
.search--title__row > * {
  margin: 5px;
}

.search--genre__row {
  display: flex;
}

.search--genre__row > * {
  margin: 5px;
}
.search--service__container {
  border: solid green;
}
.search--service__row {
  display: flex;
  border: solid;
}
.search--logo__container {
  margin: 5px;
}
